<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org/"
	 th:fragment="DefaultHeader">
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/boardList}">게시글 전체 조회</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/boardInsert}">게시글 등록</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
</div>