<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <th:block
      th:replace="~{commom/config/default_configs :: BootstrapConfig}"
    ></th:block>
  </head>
  <body>
    <div class="container text-center">
      <h3>부서 등록</h3>
      <form name="insertForm" th:action="@{/deptInsert}" method="post">
        <div>
          <label for="did">부서번호</label>
          <input id="did" type="text" name="departmentId" />
        </div>
        <div>
          <label for="dname">부서명</label>
          <input id="dname" type="text" name="departmentName" />
        </div>
        <div>
          <label for="dmid">관리자아이디</label>
          <input id="dmid" type="text" name="managerId" />
        </div>
        <div>
          <label for="dloid">위치아이디</label>
          <input id="dloid" type="text" name="locationId" />
        </div>
        <div>
          <button type="reset" class="btn btn-info">초기화</button>
          <button type="submit" class="btn btn-success">등록</button>
        </div>
      </form>
    </div>
    <script>
      document
        .querySelector('form[name="insertForm"]')
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const formTag = event.currentTarget;
          let nameTag = formTag.querySelector('[name="departmentName"]');
          if (nameTag.value == "") {
            alert("부서이름이 입력되지 않았습니다.");
            nameTag.focus();
            return;
          }

          let manager = document.querySelector('form [name="managerId"]');
          if (manager.value == "") {
            alert("관리자 아이디가 입력되지 않았습니다.");
            manager.focus();
            return;
          }

          let locaTag = document.querySelector('form [name="locationId"]');
          if (locaTag <= 0) {
            alert("위치아이디를 0보다 큰수를 입력해주세요.");
            locaTag.focus();
            return;
          }

          alert("정상적으로 등록되었습니다.");
          formTag.submit();
        });
    </script>
  </body>
</html>
